<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>QvikHours</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/foundation.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/foundation-datepicker.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
    <script src="javascripts/modernizr.js"></script>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/fastclick.js"></script>
    <script src="javascripts/foundation.min.js"></script>
    <script src="javascripts/foundation-datepicker.js"></script>
    <script src="javascripts/jquery.ajaxfileupload.js"></script>
    <script src="javascripts/date.js"></script>
    <script src="javascripts/app.js"></script>
</head>

<body>
    <div class="row">
        <div class="large-12 columns">
            <h1>QvikHours</h1>
            <hr/>
        </div>
    </div>

    <div id="employees">
    </div>

    <div class="row">
        <div class="large-12 columns">
            <hr />
        </div>
    </div>

    <div class="row employee">
        <form id="addimage" method="POST" action="/upload" enctype='multipart/form-data'>
            <div class="medium-2 columns">
                <label>Upload a photo</label>
                <img id="thumb" class="thumb placeholder"></img>
                <input type="file" id="imageupload" name="imageupload" accept='image/*'></input>
                <input type="submit" id="uploadsubmit" type="submit" name="uploadsubmit" class="hidden"></input>
            </div>
        </form>
        <form id="newemployee">
            <div class="medium-10 columns">
                <div class="medium-4 columns">
                    <label id="namelabel">Name <small>required</small>
                    </label>
                    <input type="text" id="name" name="name" placeholder="Joe Public" required pattern="[a-zA-Z]+" />
                    </ br>
                    <label id="birthdaylabel">Birthday <small>required</small>
                    </label>
                    <input type="text" id="birthday" name="birthday" placeholder="18.3.1980" />
                    <input type="hidden" id="photo" name="photo" />
                </div>
                <div class="medium-5 columns">
                    <label id="genderlabel">Gender <small>required</small>
                    </label>
                    <input type="radio" name="gender" value="false" id="male">
                    <label for="male">Male</label>
                    <input type="radio" name="gender" value="true" id="female">
                    <label for="female">Female</label>
                </div>
                <div class="medium-3 columns">
                    <input type="button" class="button" id="newemployee_submit" href="#" value="Add" />
                </div>
            </div>
    </div>
    </form>
    <footer class="row">
        <div class="large-12 columns">
            <hr/>
            <div class="row">
                <div class="large-6 columns">
                    <p>© Copyright no one at all. Go to town.</p>
                </div>
            </div>
        </div>
    </footer>


    <script>
        $(document).foundation();
    </script>
</body>

</html>
