body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.employee {
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 2px;
}
.thumb {
    width: 100px;
    height: 100px;
}

.hidden {
    display: none;
}

.placeholder {
    background: lightgray;
}

.highlight {
    background: pink;
}

.name, .birthday, .gender {
    font-size: 2em;
}
